{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
{% assign plain_title = title | strip_html | strip %}

<li class="cv-list__item">
  <article itemscope itemtype="https://schema.org/CreativeWork">
    <h3 class="cv-list__title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link | escape }}">{{ title }}</a>
        <a href="{{ base_path }}{{ post.url }}" rel="permalink" aria-label="Permalink to {{ plain_title | escape }}"><i class="fas fa-link" aria-hidden="true"></i></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>

    {% if post.collection == "publications" %}
      <p class="cv-list__meta">
        {% if post.state %}{{ post.state | escape }} &middot; {% endif %}{{ post.venue | escape }}{% if post.date %} &middot; <time datetime="{{ post.date | date: '%Y' }}">{{ post.date | date: "%Y" }}</time>{% endif %}
      </p>
    {% elsif post.collection == "teaching" %}
      <p class="cv-list__meta">
        {% if post.degree %}{{ post.degree | escape }}{% elsif post.type %}{{ post.type | escape }}{% endif %}{% if post.venue %} &middot; {{ post.venue | escape }}{% endif %}{% if post.date %} &middot; <time datetime="{{ post.date | date: '%Y-%m' }}">{{ post.date | date: "%Y" }}</time>{% if post.current %}&nbsp;&ndash;&nbsp;Present{% elsif post.end_date %}&nbsp;&ndash;&nbsp;<time datetime="{{ post.end_date | date: '%Y-%m' }}">{{ post.end_date | date: "%Y" }}</time>{% endif %}{% endif %}
      </p>
    {% elsif post.date %}
      <p class="cv-list__meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time></p>
    {% endif %}
  </article>
</li>
